.mfm-quote {
  display: block;
  border-left: solid 3px gray;
  opacity: 0.8;
}

.mfm-search {
}
.mfm-searchInput {
}
.mfm-searchButton {
}

.mfm-blockCode {
}
.mfm-blockCode pre {
  margin: 0;
  padding: 0.8rem;
  border-radius: 0.4rem;
}

.mfm-center {
  text-align: center;
}

.mfm-emoji {
  display: inline-block;
  height: 1.25em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.25em;
}

.mfm-customEmoji {
  display: inline-block;
  height: 2em;
  vertical-align: -0.6em;
}

.mfm-small {
  opacity: 0.8;
}

.mfm-italic {
  font-style: oblique;
}

.mfm-mention {
}

.mfm-hashtag {
}

.mfm-urlHost {
  font-weight: bold;
}
